<div
  class="relative bg-[--gray-500] w-[740px] p-3 flex items-center justify-between my-2 rounded-lg group"
>
  <input
    [id]="task.description"
    class="peer"
    type="checkbox"
    [checked]="task.status"
    (change)="task.status = !task.status; updateTask.emit()"
  />
  <label
    class="text-[--white] peer-checked:line-through peer-checked:text-[--gray-300]"
    [for]="task.description"
    >{{ task.description }}</label
  >
  <div *ngIf="!isEditting" class="flex items-center gap-4">
    <button
      class="flex gap-1 items-center hover:text-[--white]"
      (click)="isEditting = true"
    >
      <ng-icon name="heroPencilSquare" size="16"></ng-icon>
      Editar
    </button>
    <button
      class="flex gap-1 items-center hover:text-[--danger]"
      (click)="deleteTask()"
    >
      <ng-icon name="heroTrash" size="16"></ng-icon>
      Remover
    </button>
  </div>
  <div
    *ngIf="isEditting"
    class="absolute left-0 top-0 flex justify-between w-full items-center"
  >
    <input
      class="rounded-lg h-11 px-3 bg-[--gray-500] w-full"
      [value]="task.description"
      #editedItem
      (keydown.enter)="task.description = editedItem.value; isEditting = false"
      placeholder="Escreva o novo nome da task aqui"
    />
    <div class="flex items-center gap-4 mx-3">
      <button
        class="flex gap-1 hover:text-[--danger]"
        (click)="isEditting = false"
      >
        <ng-icon name="heroNoSymbol" size="16"></ng-icon>
        Cancelar
      </button>
      <button
        class="flex gap-1 hover:text-[--blue]"
        (click)="
          task.description = editedItem.value;
          isEditting = false;
          updateTask.emit()
        "
      >
        <ng-icon name="heroCheck" size="16"></ng-icon>
        Salvar
      </button>
    </div>
  </div>
</div>
